#MADM

In [80]:
import pandas as pd
import numpy as np
import operator

In [81]:
data = pd.read_excel('ujicobaMADM.xlsx')
data

  Alternatif   C1   C2
0         A1  0.5  1.0
1         A2  9.0  4.8
2         A3  5.3  3.7
3         A4  0.3  2.3
4         A5  4.2  3.0
5         A6  3.7  3.1
6         A7  8.3  2.5
7         A8  6.2  1.7
8         A9  7.0  1.8
9        A10  2.9  4.1

##Berdasarkan Rekomendasi

In [17]:
bobotJarak = float(input("Masukkan bobot jarak: "))
bobotRating = float(input("Masukkan bobot rating: "))
# rekomendasi = int(input("Masukkan bobot rekomendasi: "))

Masukkan bobot jarak: 0.5
Masukkan bobot rating: 0.5

In [13]:
# jarak bersifat cost = cari minimalnya
# rating bersifat benefit = cari maksimalnya

jarakMin=data['C1'].min()
ratingMax=data['C2'].max()

In [25]:
# Normalisasi nilai kriteria jarak
normalisasiJarak=[]
dataJarak = data['C1']
for i in dataJarak:
  normalisasiJarak.append(jarakMin/i)

In [29]:
# Normalisasi nilai kriteria rating
normalisasiRating=[]
dataRating = data['C2']
for i in dataRating:
  normalisasiRating.append(i/ratingMax)

In [38]:
normalisasiJarak

[0.6,
 0.03333333333333333,
 0.05660377358490566,
 1.0,
 0.07142857142857142,
 0.08108108108108107,
 0.03614457831325301,
 0.04838709677419355,
 0.04285714285714286,
 0.10344827586206896]

In [39]:
normalisasiRating

[0.20833333333333334,
 1.0,
 0.7708333333333334,
 0.47916666666666663,
 0.625,
 0.6458333333333334,
 0.5208333333333334,
 0.3541666666666667,
 0.375,
 0.8541666666666666]

In [49]:
nilaiPreverensi = []
for i in range(len(normalisasiRating)):
    # print("ini jarak ke " , i , " - " , normalisasiJarak[i])
    # print("ini rating ke " , i , " - " , normalisasiRating[i])
    nilaiPreverensi.append(normalisasiJarak[i] * bobotJarak + normalisasiRating[i] * bobotRating)

In [50]:
nilaiPreverensi

[0.4041666666666667,
 0.5166666666666667,
 0.4137185534591195,
 0.7395833333333333,
 0.3482142857142857,
 0.3634572072072072,
 0.2784889558232932,
 0.20127688172043012,
 0.20892857142857144,
 0.4788074712643678]

In [60]:
alternatif=[]
dataAlternatif = data['Alternatif']
for i in dataAlternatif:
  alternatif.append(i)

In [62]:
hasilMadm = dict(zip(alternatif, nilaiPreverensi))
hasilMadm

{'A1': 0.4041666666666667,
 'A10': 0.4788074712643678,
 'A2': 0.5166666666666667,
 'A3': 0.4137185534591195,
 'A4': 0.7395833333333333,
 'A5': 0.3482142857142857,
 'A6': 0.3634572072072072,
 'A7': 0.2784889558232932,
 'A8': 0.20127688172043012,
 'A9': 0.20892857142857144}

In [78]:
urutan = sorted(hasilMadm, key=hasilMadm.get, reverse=True)
urutan

['A4', 'A2', 'A10', 'A3', 'A1', 'A6', 'A5', 'A7', 'A9', 'A8']

##Berdasarkan Jarak

In [82]:
alternatif=[]
dataAlternatif = data['Alternatif']
for i in dataAlternatif:
  alternatif.append(i)

In [83]:
jarak=[]
dataJarak = data['C1']
for i in dataJarak:
  jarak.append(i)

In [84]:
hasilJarak = dict(zip(alternatif, jarak))
hasilJarak

{'A1': 0.5,
 'A10': 2.9,
 'A2': 9.0,
 'A3': 5.3,
 'A4': 0.3,
 'A5': 4.2,
 'A6': 3.7,
 'A7': 8.3,
 'A8': 6.2,
 'A9': 7.0}

In [85]:
urutan = sorted(hasilJarak, key=hasilJarak.get, reverse=False)
urutan

['A4', 'A1', 'A10', 'A6', 'A5', 'A3', 'A8', 'A9', 'A7', 'A2']

##Berdasarkan Rating

In [86]:
alternatif=[]
dataAlternatif = data['Alternatif']
for i in dataAlternatif:
  alternatif.append(i)

In [87]:
rating=[]
dataRating = data['C2']
for i in dataRating:
  rating.append(i)

In [88]:
hasilRating = dict(zip(alternatif, rating))
hasilRating

{'A1': 1.0,
 'A10': 4.1,
 'A2': 4.8,
 'A3': 3.7,
 'A4': 2.3,
 'A5': 3.0,
 'A6': 3.1,
 'A7': 2.5,
 'A8': 1.7,
 'A9': 1.8}

In [90]:
urutan = sorted(hasilRating, key=hasilRating.get, reverse=True)
urutan

['A2', 'A10', 'A3', 'A6', 'A5', 'A7', 'A4', 'A9', 'A8', 'A1']